.user-details {
    margin: 40px auto;
    padding: 10px 20px;
    width: 50%;

    border: 1px solid gray;
    box-shadow: 2px 2px 4px grey;
}

.join-btn {
    margin: auto;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 100px;
    box-shadow: 1px 1px 2px grey;
    background: rgb(110, 129, 185);
}

.user-details-item {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.description {
    flex: 1;
    text-align: start;
    padding-left: 20px;
}

.doc_profile button {
    padding: 5px 20px;
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;
    outline: none;
    color: white;
    background: rgb(42, 133, 86);
}

.doc_profile button:hover {
    background: rgb(34, 102, 67);
}

.profile {
    text-align: center;
    font-family: sans-serif;
    width: 90%;
    box-shadow: 0 0 10px rgb(34, 102, 67);
    padding: 20px;
}

.profile_left {
    float: left;
}

.profile_image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
}

.profile_speciality {
    color:  rgb(42, 133, 86);
}
.profile_bottom {
    display: flex;
    flex-direction: column;
}
.profile_bottom button {
    padding: 5px 20px;
    background: none;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;
    outline: none;
    color: white;
    background: rgb(42, 133, 86);
}

.profile_bottom button:hover {
    background: rgb(34, 102, 67);
}

.profile_button {
    display: flex;
    justify-content: center;
}